<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Department</title>
    </head>
    {% include 'sidenav.html' %}

    <body style="background-color: aquamarine;color: black;">
        <div class="container" style="margin:4em 0px 0px 20em;">
            <form method="post" action="{% url 'create_department' %}">
                {% csrf_token %}
                <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea  class="form-control" id="description" name="description"></textarea>
            </div>
                <button class="btn btn-default" type="submit">Create Department</button>
            </form>
        </div>
    </body>

</html>