<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Department</title>
    </head>
    {% include 'sidenav.html' %}

    <body style="background-color: aquamarine;color: black;">
        <div class="container" style="margin:4em 0px 0px 20em;">
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.description }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'update_department' department.id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'delete_department' department.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </body>

</html>