<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% load static %}
{% include 'head.html'%}
<aside class="main-sidebar" style="margin: ;background-color:antiquewhite;text-align: left;">
    <section class="sidebar" style="height: auto;color: black;">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="treeview ">
                <a href="/homepage">
                    <i class="fa fa-book"></i>
                    <span style="color: black;font-size: large;">Dashboard</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/users/create">
                    <i class="fa fa-book"></i>
                    <span style="color: black;font-size: large;">Create User</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/user_list">
                    <i class="fa-solid fa-user-group"></i>
                    <span style="color: black;font-size: large;">Show User</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/departments/create">
                    <i class="fa-sharp fa-solid fa-user-tie"></i>
                    <span style="color: black;font-size: large;"> Create Department</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/users/assign-department">
                    <i class="fa-sharp fa-solid fa-user-tie"></i>
                    <span style="color: black;font-size: large;">Assign Department</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/department_list">
                    <i class="fa-solid fa-user-group"></i>
                    <span style="color: black;font-size: large;">Show Department</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/new-ticket">
                    <i class="fa-solid fa-user-group"></i>
                    <span style="color: black;font-size: large;">Create Ticket</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview ">
                <a href="/manage-tickets">
                    <i class="fa-solid fa-user-group"></i>
                    <span style="color: black;font-size: large;">Manage Ticket</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>