<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show User</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    {% include 'sidenav.html' %}
    <body style="background-color: aquamarine;color: black;">
        <div class="container" style="margin:4em 0px 0px 20em;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Department</th>
                        <th>Role</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone_number }}</td>
                        <td>{{ user.department.name }}</td>
                        <td>{{ user.role }}</td>
                        <!-- <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                  </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>

</html>